@media (max-width: 62em) {
	html {
		font-size: 56.25%;
	}
}

@media (max-width: 48em) {
	html {
		font-size: 50%;
	}
}

@media (max-width: 36em) {
	html {
		font-size: 43.75%;
	}
}

@media (max-width: 29.25em) {
	html {
		font-size: 37.5%;
	}
}
